.interactive{
    height: 100%;
    width: 100%;
}

.info{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

.side{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.side *{
    margin-left: 1rem;
}

.copy{
    text-wrap: wrap;
}

.info button{
    border: none;
    margin: 1rem;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    font-weight: bold;
}